body {
  background-color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 2%;
  
}
h1, h2, h3 {
  color: green;
  text-align: center;
}
a {
  color: green;  
}
p {
  color: green;
  text-align: center;
}
.list ul {
  list-style-type: none;
  text-align: center;
}
.list li {
  color: yellow;
}
.list li::before {
  content: "\2022  "
}
hr {
  height: 2px; 
  background-color: green;
  border:none
}