body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: #040828;*/
    background-color: black;
}


.mainContent
{
    color: green;
    padding: 0px 10px;
}

.copyright
{
    text-align: center;
    color: green;
}

a
{
    color: green;
}

.navigation a
{
    color: green;
}

.navigation .next
{
    float: right;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
}

.navigation .prev
{
    float: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
}

.quotes
{
    text-align: center;
    font-size: 1.4em;
    color: green;
}