body {

}

.commandments {
    font-size: larger;
}
.quotes
{
    text-align: center;
    font-size: 1.4em;
}
.copyright
{
    text-align: center;
    padding-bottom: 20px;

}

/*
h1, h2, h3 {
  color: green;
  text-align: center;

}
a {
  color: green;  
}
p {
  color: green;
  text-align: center;
}
.list ul {
  list-style-type: none;
  text-align: center;
}
.list li {
  color: yellow;
}
.list li::before {
  content: "\2022  "
}
hr {
  height: 2px; 

}*/
