body {
    padding-top: 80px;
}
.jumbotron {
    border: solid black 1px;
}

.commandments {
    font-size: larger;
    font-weight: bold;
}
.quotes
{
    text-align: center;
    font-size: 1.4em;
}
.copyright
{
    text-align: center;
    padding-bottom: 20px;

}