<div class="container">
    <div class="jumbotron">
        <h1>The Hacker's 10 Commandments</h1>
        <p>Hacking safely and securely.</p>
        <p>Or, loose lips sink ships.</p>
    </div>
    <hr/>
    <ol class="commandments">
        <li>Be proactively paranoid, it doesn't work retroactively.</li>
        <li>Keep personal activities and hacking activities completely separate.</li>
        <li>Keep your personal environment contraband free.</li>
        <li>Trust no one.</li>
        <li>Never give anyone power over you.</li>
        <li>Never reveal your plans.</li>
        <li>Never reveal your operational details.</li>
        <li>Never confuse recreation and hacking.</li>
        <li>Never operate from your home IP.</li>
        <li>Never talk to the police.</li>
    </ol>
    <h3>Appendix</h3>
    <ul>
        <li>No one is going to go to jail for you.</li>
        <li>If you have to say, "don't tell anyone", don't FUCKING tell them!</li>
        <li>If you have to talk to someone, talk to your lawyer.</li>
        <li>Don't hang out in hacker channels on IRC to make friends.</li>
    </ul>
    <hr/>
<hth-tabs></hth-tabs>
<hr/>
<footer>
    <div class="quotes">
        <p>"If you ask how to hack, you are not ready to hack."</p>
    </div>
    <div class="copyright">
        &copy; 2016 to infinity by satan ~ For more info: irc://anonops.com #hackers
    </div>
</footer>
</div>