<div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#personas" role="tab" data-toggle="tab" >Personas</a>
    </li>
    <li role="presentation">
        <a href="#pitfalls" role="tab" data-toggle="tab" >Pitfalls</a>
    </li>
</ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personas">
    <h2>(nicks, handles, aliases, or covers)</h2>
<h3>Avoid Contamination</h3>
<ul>
    <li>The danger to personas is <em>cross-contamination</em>.</li>
    <li>Keep personas isolated from each other.</li>
    <li>Contact between personas contaminates both of them.</li>
    <li>ProTip: Don't use your real first name as your username.</li>
</ul>
<h3>Layer your Defenses.</h3>
<ul>
    <li>A persona is most effective at the end.</li>
    <li>Prepare multiple personas.</li>
    <li>Prepare to replace a persona at anytime.</li>
</ul>
<h3>Fail safe and secure.</h3>
<ul>
    <li>Your primary cover persona is your first identity.</li>
    <li>Have a back stop persona ready.</li>
    <li>Use secondary cover personas as needed.</li>
    <li>Tor all the things!</li>
</ul>
<h3>VPN vs. TOR</h3>
<ul>
    <li>VPNs provide <em>privacy</em> (data).</li>
    <li>TOR provides <em>anonymity </em>(you).</li>
    <li>Confuse the two at your own peril!</li>
</ul>
<h1>No logs, no crime.</h1>
        </div>
         <div role="tabpanel" class="tab-pane" id="pitfalls">
<h2>Personal info is profiling info.</h2>
<h3>Location revealing information.</h3>
<ul>
    <li>Weather</li>
    <li>Time</li>
    <li>Political Events</li>
    <li>Natural Disasters</li>
</ul>
<h3>Misdirect. LIE!</h3>
<ul>
    <li>Do not discuss personal information, e.g. where you are from.</li>
    <li>Do not include personal information in you online identity, e.g. nick, username, etc.</li>
    <li>Do not mention your physical traits, e.g. gender, tatoos, piercings, or physical (in)capacities.</li>
    <li>Do not mention your profession, hobbies, or involvement in activist groups.</li>
    <li>Do not post information to the regular internet while you are anonymous in IRC.</li>
    <li>Do not use Twitter or Facebook.</li>
    <li>Do not post links to Facebook images. The image contains a personal ID.</li>
</ul>
<h2>Anti-Location Profiling</h2>
<ul>
    <li>Do not keep regular hours / habits (This can reveal your timezone, geographic locale).</li>
    <li>Do not use special characters on you keyboard unique to your language.</li>
</ul>
<h2>Practice safety or perish alone.</h2>
      </div>
     </div>
</div>