
<h1>Convert Ops & Opsec</h1>
<ul>
    <li>Rule 1: STFU (shut the fuck up)</li>
    <li>Rule 2: Trust no one, ever</li>
    <li>Rule 3: No one will go to jail for you.</li>
    <li>Rule 4: Have a public and an anonymous persona.</li>
    <li>Rule 5: Never cross contaminate personas.</li>
    <li>Rule 6: Use a Virtual Machine.</li>
    <li>Rule 7: Never "test" from your ISP's IP, ever.</li>
</ul>
<br/>

<h2>Protip 1: Secure yourself first</h2>

<p><a href="http://www.troyhunt.com/2013/05/hack-yourself-first-how-to-go-on.html">Go Hack Yourself</a></p>

<h2>Protip 2: If you have something to lose, you will.</h2>

<h2>Protip 3: If someone is gone without explaination, and returns, they have been compromised.</h2>

<h2>Protip 3a: And so has any infomation they have.</h2>

<h2>Protip 4: If someone offers cash for a hack, they are a FED (see Protip 3).</h2>

<h2>Protip 5: Once compromised, never speak of it (the op) again, ever.</h2>

<h2>Protip 6: Keep no logs, ever.</h2>

<h2>Protip 7: Encrypt everything.</h2>

<h2>Protip 8: Prepare to autonuke all data, even your backups.</h2>
<hr/>
<p>Once you have read and understood all of the rules and tips, test away. No just kidding, much more must be done.</p>

<p>Familiarize yourself with:</p>

<div class="list">
    <ul>
        <li>Programming languages.</li>
        <li>Operating systems.</li>
        <li>Networks and networking.</li>
        <li>Network services.</li>
    </ul>
</div>
<hr/>
<h2>Tools and Links</h2>

<p><a href="http://www.efytimes.com/e1/fullnews.asp?edid=140352&magid=11">Hone&nbsp;your&nbsp;skills</a>&nbsp;&nbsp;<a
        href="http://www.telerik.com/fiddler">Fiddler</a>&nbsp;&nbsp;<a href="http://www.wireshark.org/">Wireshark</a>&nbsp;&nbsp;<a
        href="http://nmap.org/">Nmap</a>&nbsp;&nbsp;<a href="http://www.aircrack-ng.org/">Aircrack</a>&nbsp;&nbsp;<a
        href="http://www.metasploit.com/">Metasploit</a>&nbsp;&nbsp;<a
        href="http://www.itsecteam.com/products/havij-advanced-sql-injection/">Havij</a></p>

<p><a href="http://www.kali.org/">Kali&nbsp;Linux</a>&nbsp;&nbsp;<a href="http://kali4hackers.blogspot.com/">Kali&nbsp;for&nbsp;Hackers</a>&nbsp;&nbsp;<a
        href="https://www.torproject.org/">Tor&nbsp;Anonymizer</a>&nbsp;&nbsp;<a href="http://www.dban.org/">Darik's&nbsp;Boot&nbsp;and&nbsp;Nuke.</a>
</p>

<p><a href="http://catb.org/~esr/faqs/hacker-howto.html">How&nbsp;to&nbsp;become&nbsp;a&nbsp;hacker.</a></p>
<hr/>
<p>irc://anonops.com #opsec</p>