<div class="container-fluid">
    <h1>Programming Languages</h1>
    <h3>Scripting and Dynamic Languages</h3>
    <p>Scripting is perhaps the easiest way to start programming.  A script runs progressively through the file, executing the commands as it goes.  The popular languages are javascript (NOT JAVA), python, perl, php, ruby, and bash.  Most scripting languages require an interpreter to be installed on host machine.  This makes running any dynamic language on windows tricky, as these languages are not installed by default.</p>

    <h3>OOP, Static Languages</h3>
    <p>Object Oriented Programming or OOP, is all the rage these days.  What you do is define an object, and take actions on that object.  This is really quite powerful if done correctly, and an utter disaster if done incorrectly.  The popular languages are C++, C, Java, and any of the .NET languages.  These languages require the code to be compiled, which means the resulting code can be run "cross platform" as the frameworks are popular or installed by default.</p>
    <h3>Why do I need to...</h3>
    <p>Because you do...  Nearly every tool used by ~testers~ has been written for a specific need.  And, eventually, it was expanded, revised, and released to the public.  This is good.  The ~testing~ community has always been a loose collaboration of people that like to share their knowledge and tools.</p>
</div>