<div class="container-fluid">
    <p><a href="http://packetstormsecurity.com/files/92222/Admin-Control-Panel-Finder-2.0.html">Admin Control Panel
        Finder</a> - A perl script that scans webservers for administrative login and control panel sections.</p>

    <p><a href="http://sourceforge.net/projects/adminfinder/">Admin Finder</a> - A perl script that scans webservers for
        administrative login / control panel sections.</p>

    <p><a href="http://www.aircrack-ng.org/">Aircrack-ng</a> - A802.11 WEP and WPA-PSK keys cracking program.</p>

    <p><a href="http://cintruder.sourceforge.net/">cintruder</a> - An automatic pentesting tool to bypass captchas.</p>

    <p><a href="https://code.google.com/p/cms-explorer/">cmsexplore</a> - Is designed to reveal the the specific
        modules, plugins, components and themes that various CMS driven web sites are running.</p>

    <p><a href="https://archassault.org/packages/archassault/any/darkd0rk3r/">darkd0rk3r</a> - A python script that
        performs dork searching and searches for local file inclusion and SQL injection errors.Python script that
        performs dork searching and searches for local file inclusion and SQL injection errors.</p>

    <p><a href="http://www.monkey.org/~dugsong/dsniff/">dsniff</a> - Is a collection of tools for network auditing and
        penetration testing.</p>

    <p><a href="http://ha.ckers.org/fierce/">fierce</a> - A DNS enumerator written in perl.</p>

    <p><a href="http://hashcat.net/oclhashcat/">oclHashcat</a> - A GPGPU-based multi-hash cracker.</p>

    <p><a href="https://github.com/psypanda/hashID">hashid</a> - Identifies the different types of hashes used to
        encrypt data and passwords.</p>

    <p><a href="http://search.cpan.org/~exiftool/Image-ExifTool-9.76/lib/Image/ExifTool.pod">Image-exiftool</a> - An
        extensible set of Perl modules to read and write meta information in a wide variety of image, audio and video
        files.</p>

    <p><a href="http://www.openwall.com/john/">johntheripper</a> - A fast password cracker.</p>

    <p><a href="http://www.paterva.com/web6/documentation/">maltego</a> - An open source intelligence and forensics
        application.</p>

    <p><a href="http://www.metasploit.com/">metasploit</a> - A framework and database for all your penetration testing
        needs.</p>

    <p><a href="http://www.netresec.com/?page=NetworkMiner">NetworkMiner</a> - A Network Forensic Analysis Tool (NFAT)
        for Windows, <a
                href="http://www.netresec.com/?page=Blog&month=2014-02&post=HowTo-install-NetworkMiner-in-Ubuntu-Fedora-and-Arch-Linux">Linux</a>,
        <a href="http://www.netresec.com/?page=Blog&month=2014-06&post=Running-NetworkMiner-on-Mac-OS-X">Mac OSX</a>,
        and
        <a href="http://www.netresec.com/?page=Blog&month=2011-12&post=No-more-Wine---NetworkMiner-in-Linux-with-Mono">FreeBSD</a>.
    </p>

    <p><a href="https://cirt.net/Nikto2">nikto2</a> - An Open Source web server scanner.</p>

    <p><a href="https://www.titania.com/nipperstudio">nipperstudio</a> - Is used to make observations about the security
        configurations of many different device types such as routers, firewalls, and switches.</p>

    <p><a href="http://nmap.org/">nmap</a> - A free and open source utility for network discovery and security auditing.
    </p>

    <p><a href="http://sqlmap.org/">sqlmap</a> - An open source penetration testing tool that automates the process of
        detecting and exploiting SQL injection flaws.</p>

    <p><a href="http://sourceforge.net/projects/uniscan/">uniscan</a> - A simple Remote File Include, Local File Include
        and Remote Command Execution vulnerability scanner.</p>

    <p><a href="http://pentestmonkey.net/tools/audit/unix-privesc-check">unix-privesc-checker</a> - A tool that tries to
        find misconfigurations that could allow local unprivilged users to escalate privileges to other users.</p>

    <p><a href="https://www.wireshark.org/">wireshark</a> - A network protocol analyzer for Unix and Windows.</p>

    <p><a href="http://wpscan.org/">wpscan</a> - A black box WordPress vulnerability scanner.</p>

    <p><a href="http://xsser.sourceforge.net/">xsser</a> - An automatic framework to detect, exploit and report XSS
        vulnerabilities in web-based applications.</p>
</div>
