<div class="container-fluid">
    <h1>Learning to Hack: The Methods</h1>
    <h3>Packages</h3>
    <p>
        We'll start with software, known as "packages" in the linux world.
    </p>
    <ul>
        <li>Fierce, a DNS enumerator.</li>
        <li>nmap, a network/port scanner.</li>
        <li>The Metasploit Framework.</li>
    </ul>
    <h3>Acquiring a Target</h3>
    <p>
        Target = domain.com. Now what?
    </p>
    <p>
        We want to know all of the DNS entries associated with domain.com. We run Fierce and dump the results to a text
        file on the Desktop.
    </p>
    <pre>perl /usr/bin/fierce -dns domain.com -file /root/Desktop/domain.com.txt</pre>
    <p>
        Opening domain.com.txt will reveal some IP addresses and their associated hostnames. We want to edit this text,
        leaving only the IP address and save this into a file called ips.domain.com.txt.
    </p>
    <h3>Scanning the Target(s)</h3>
    <p>
        Using the file ips.domain.com.txt, we run a scan using nmap.
    </p>
    <pre>nmap -vvvv -A -iL /root/Desktop/ip.domain.com.txt -oX /root/Desktop/nmap.domain.com.xml</pre>
    <p>
        This string will run nmap with verbosity, OS/Version/script scanning and traceroute using the IPs listed in
        ips.domain.com.txt with an output file of nmap.domain.com.xml saved to the Desktop. The xml file will be used to
        import the results into the Metasploit Framework. Of course, you can save the files to any folder. I have found
        that some of the tools don't recognize using the ~/ for the home folder. So I have become accustomed to using
        the absolute paths.
    </p>
</div>
<hr/>
<footer>
    <div class="quotes">
        <p>"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live." ~ Rick Osborne</p>
    </div>
    <div class="copyright">
        &copy; 2016 to infinity by satan ~ For more info: irc://anonops.com #hackers
    </div>
    <nav>
        <ul class="pager">
            <li><a ui-sref="two">Previous</a></li>
            <li><a ui-sref="four">Next</a></li>
        </ul>
    </nav>
</footer>
