<div class="container-fluid">
    <h1>Learning to Hack: Getting Started</h1>

    <h3>Required Knowledge</h3>
    <ul>
        <li>Networks and networking, ethernet and Wi-Fi protocols.</li>
        <li>Network services, TCP/IP, dns, http, ftp, to start.</li>
        <li>Hashing and encryption, know the difference.</li>
        <li>Programming languages, python, perl, javascript, .NET, C/C++, more is better.</li>
        <li>Http servers: Apache, nginx, nodejs, etc...</li>
        <li>Database servers: MySQL, MSSQL, Oracle, mongodb, and on and on. </li>

    </ul>
    <h3>The Operating System</h3>
    <p>
        Linux is an operating system built on the linux kernel developed by Linus Torvalds. There are many
        "distributions" of linux, tailored to many different users and uses.  The underlying linux distribution doesn't matter. The tools you need can be installed on any distribution. The 'pentesting' distros just assemble the tools into a nice package. Usually a bloated package. The preferred method is to install whatever you choose as an encrypted machine. Either virtual
        or physical. Use strong passwords and passphrases to avoid anyone from hacking you.
    </p>
    <h3>Keeping the Feds Off Your Back.</h3>
    <h4>There are two ways to mask your real IP address. One is free, and one is not.</h4>
    <h5>VPN, for privacy.</h5>
    <p>
        This is the non-free method. You have to pay a fee, monthly or yearly, to access the Virtual Private Network.
        Read the Privacy Policy and Terms of Service before paying for any service. Most of the activities we will
        discuss are prohibited on VPNs. Although, most won't do anything, you will still be at risk. Yes, I know there
        are free VPN services, they are crap. Use the next method if you need free.
    </p>
    <h5>Tor, for anonymity.</h5>
    <p>
        The Onion Router. We are not interested in the Tor Browser bundle, as our needs are different. I <a
            href="https://www.torproject.org/docs/debian"> install Tor locally</a>, on a different machine or in linux
        itself and use that as the proxy for the operating system's network. Installation is easy, however, it does
        require reading through and/or editing of the torrc file. Tor installs as a service in most pentesting distros,
        so it can be setup quite easily.
    </p>
    <h5>Before You Start</h5>
    <p>
        Always, always check the IP address prior to testing. <a href="http://ipchicken.com">Ip chicken</a> is a good
        home page for your browser.
    </p>
</div>
<hr/>
<footer>
    <div class="quotes">
        <p>"Real Programmers don't comment their code. If it was hard to write, it should be hard to understand." ~
            Anonymous</p>
    </div>
    <div class="copyright">
        &copy; 2016 to infinity by satan ~ For more info: irc://anonops.com #hackers
    </div>
    <nav>
    <ul class="pager">
        <li><a ui-sref="one">Previous</a></li>
        <li><a ui-sref="three">Next</a></li>
    </ul>
    </nav>
</footer>
